.controlpanel {
  	width: 220px;
  	top: 10px;
  	left: 10px;
  	opacity: 0.1;
  	background-color: rgb(250,250,250);
    background-color: rgba(250,250,250,0.8);
  	padding: 10px 10px 10px 10px;
  	border: 1px solid #bcbcbc;
  	border-radius: 5px;
  	cursor: move;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.controlpanel:hover {
  	opacity: 1;
}
.plot {
    position: absolute;
  	height: 95%;
  	width: 99%;
  	top: 2.5%;
  	left: 1%;
}
.overlay {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("Think_FullLogoStrapline_Pink.svg");
    background-repeat: no-repeat;
    background-position: 98% 98%;
    background-size: 113.4px 56.6px;
    opacity: 0.25;
}
.shiny-output-error {
  	visibility:hidden;
}
.shiny-output-error:before {
  	visibility:hidden;
}