/* Disable highlighting */
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide Shiny errors */
.shiny-output-error {
  	visibility: hidden;
}
.shiny-output-error:before {
  	visibility: hidden;
}

/* Think Theme */
.skin-black .main-header .logo {
    background-color: #D51067;
    color: #FFF;
    border: none;
}
.skin-black .main-header .logo:hover {
    background-color: #802245;
}
.skin-black .main-header .navbar {
    background-color: #D51067;
}
.skin-black .main-header .navbar > .sidebar-toggle {
    color: #FFF;
    border: none;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
    background-color: #802245;
}


/* Hide logo bar on mobile */
.main-header .logo {
    height: 0;
}


/* Sidebar top margin fix on mobile */
.sidebar {
    margin-top: -50px;
}


/* Set no content background & Think logo */
.content-wrapper, .right-side {
    background-color: inherit;
    background-image: url("Think_FullLogoStrapline_Pink.svg");
    background-repeat: no-repeat;
    background-position: 95% 95%;
    background-size: calc(289.46667px / 2) calc(120.44px / 2);
}


/* Fix page overflow */
.skin-black {
    overflow: visible;
}


/* Fix sidebar height/overflow */
.main-sidebar {
    overflow: visible;
}
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    overflow: visible;
}


/* Adjust content layout */
.content {
    padding: 0;
    height: calc(100vh - 50px);
}


/* Set plotly height to auto-adjust */
#plot {
    position: relative;
    height: calc(100vh);
}


/* Fix sidebar dropdown grey text */
.skin-black .sidebar a {
    color: #444;
}


/* Fix selection box white edge corner issue */
.form-group .bootstrap-select, .form-horizontal .bootstrap-select, .form-inline .bootstrap-select {
    background: none;
}


/* Workaround white background at bottom when scrollbar enabled */
body {
    background-color: #222d32;
}


/* Fix z-index so dropdown shows over header */
.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    background: none;
}
.main-header {
    z-index: 2;
}
.main-sidebar {
    z-index: 3;
}


/* Reduce bottom margin between input elements */
.form-group {
    margin-bottom: -8px;
}


/* Desktop styles */
@media only screen and (min-width: 768px) {
  
  /* Show logo bar on desktop */
  .main-header .logo {
      height: 50px;
  }
  
  /* Revert sidebar top margin fix on mobile */
  .sidebar {
      margin-top: 0;
  }

}

